@model YourCarePortal.Models.RootIndexResetPassword

@using Newtonsoft.Json;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Sign In - Your Care Portal</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />

    @* <link rel="stylesheet" href="~/css/IndexResetPassword.css" /> *@

    <link rel="icon" type="image/x-icon" href="~/Images/TurnPointtwirl.png" />
   
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>

    <style>

        body {
            display: flex;
            flex-direction: column; /* Stack items vertically on smaller screens */
            min-height: 100vh;
            /* background-color: #F8F9FA; */
            background-color: white;
        }

        .bg-primary {
            background-color: white !important;
        }

        #login-pane {
            flex: 0 0 45.3%;
            background-color: white;
            padding: 20px;
            max-width: 600px; /* Prevents the panel from resizing beyond 600px */
        }


        #image-pane {
            flex-grow: 1;
            background-image: url("@Url.Content("~/Images/LoginBG1.jpg")");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center bottom; /* Adjusts the focus to the bottom half */
            position: relative;
        }


        #info-text {
            color: white;
            font-family: 'Inter', sans-serif;
            font-size: 1.5vw; /* Responsive font size */
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            position: absolute;
            top: 46vh; /* Adjust as needed */
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 60%;
        }


        #creator-text {
            color: white;
            font-family: 'Inter', sans-serif;
            font-size: 1.5vw; /* Responsive font size */
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            position: absolute;
            top: 80vh; /* Adjust as needed */
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 80%;
        }

        .no-border {
            border: none;
            box-shadow: none;
            margin-top: 75px;
        }

        .custom-font {
            font-family: 'Inter', sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 60px */
        }

        .signin-btn {
            width: 100%; /* Make the button full-width */
            margin-top: 20px; /* Add some space above the button */
        }

        .forgot-password {
            display: flex;
            justify-content: center; /* Center the link horizontally */
            margin-top: 20px; /* Add some space above the link */
        }

        /* Custom CSS for waiting cursor */
        .waiting-cursor {
            cursor: wait !important;
        }

        @@media(min-width: 992px) {
            body {
                flex-direction: row; /* Restores the side-by-side layout on large screens */
            }

            #login-pane {
                flex: 0 0 45.3%;
            }

            #image-pane {
                flex-grow: 1;
            }
        }

    </style>

</head>
<body class="bg-primary">
    <div id="login-pane" style="position: relative;">
        <img id="login-logo" src="@Url.Content(@ViewBag.WhiteLabel)" alt="Login Logo" style="height:auto; width:auto; max-height:64px; max-width:480px; background-color = white;">
        <div id="layoutAuthentication_content">

            <div class="container-xl px-4">

                <div class="schedule-container">
                      
                    <br />

                        @{
                            switch (Model.CurrentStep)
                                {
                                case "1":

                                        <form method="POST" action="@Url.Action("IndexResetPasswordAction", "Home")">

                                            <div class="mb-3">
                                                <label class="small mb-1" for="inputEmail">Enter your email below </label>
                                                <input class="form-control" id="inputMyEmail" type="text" placeholder="Enter your email" data-target="input" name="email" />
                                                <div>
                                                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                                    {
                                                        <div class="alert alert-danger mt-3">
                                                            @Model.ErrorMessage
                                                        </div>
                                                    }
                                                </div>

                                                <br />

                                            <input type="hidden" name="currentStep" value=@Model.CurrentStep />
                                            <input type="hidden" name="newPassword" value=@Model.email />
                                            <input type="hidden" name="tempCode" value=@Model.tempCode />
                                            <input type="hidden" name="tempCode_hidden" value=@Model.tempCode_hidden />
                                            <input type="hidden" name="newPassword" value=@Model.newPassword />
                                            <input type="hidden" name="email" value=@Model.email />


                                                <button type="submit" class="btn btn-primary proceed-button" target-input="#inputMyEmail">Proceed</button>
                                            </div>
                                       </form>              
                                break;
                                case "2":

                                        <form method="POST" action="@Url.Action("IndexResetPasswordAction", "Home")">

                                            <div class="mb-3">
                                        <label class="small mb-1" for="inputEmail">A 4 digit code was sent to your email: @ViewBag.Email Please enter it below to proceed. Check your junk folder if doesn't come through in 1-2mins.</label>

                                                <input class="form-control" id="inputTempCode" type="text" placeholder="Temporary Code" data-target="input" name="TempCode" />
                                            </div>
                                            <div class="card-footer text-center">
                                                <div>
                                                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                                    {
                                                        <div class="alert alert-danger mt-3">
                                                            @Model.ErrorMessage
                                                        </div>
                                                    }
                                                </div>

                                            <br />

                                            <input type="hidden" name="currentStep" value=@Model.CurrentStep />
                                            <input type="hidden" name="newPassword" value=@Model.email />
                                            <input type="hidden" name="tempCode" value=@Model.tempCode />
                                            <input type="hidden" name="tempCode_hidden" value=@Model.tempCode_hidden />
                                            <input type="hidden" name="newPassword" value=@Model.newPassword />
                                            <input type="hidden" name="email" value=@Model.email />


                                            <button type="submit" class="btn btn-primary proceed-button" target-input="#inputMyEmail">Proceed</button>

                                            </div>
                                        </form>
                                break;

                                case "3":

                                        <form method="POST" action="@Url.Action("IndexResetPasswordAction", "Home")">

                                        <div class="mb-3">
                                            <label class="small mb-1" for="inputEmail">Enter the new password you would like to set </label>
                                            <input class="form-control" id="inputNewPassword" type="password" placeholder="New Password" name="NewPassword" />
                                            <div class="card-footer text-center">
                                                <div>
                                                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                                    {
                                                        <div class="alert alert-danger mt-3">
                                                            @Model.ErrorMessage
                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                            <br />

                                            <input type="hidden" name="currentStep" value=@Model.CurrentStep />
                                            <input type="hidden" name="newPassword" value=@Model.email />
                                            <input type="hidden" name="tempCode" value=@Model.tempCode />
                                            <input type="hidden" name="tempCode_hidden" value=@Model.tempCode_hidden />
                                            <input type="hidden" name="newPassword" value=@Model.newPassword />
                                            <input type="hidden" name="email" value=@Model.email />

                                             <button type="submit" class="btn btn-primary proceed-button" target-input="#inputMyEmail">Proceed</button>
                                        </div>
                                    </form>
                                break;

                                case "4":
                                <form id="BacktoLogin" method="POST" action="@Url.Action("BacktoLogin", "Home")">

                                            <div class="mb-3">
                                                <label class="small mb-1" for="inputHasBeenReset">Password has been reset</label>
                                            </div>

                                            <br />

                                    <button type="submit" id="submitButton" class="btn btn-primary proceed-button">Proceed to login screen</button>

                                        </form>

                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        var submitButton = document.getElementById('submitButton');
                                        if (submitButton) {
                                            submitButton.focus();
                                        }
                                    });
                                </script>

                                break;

                                default:
                                break;
                            }
                        }
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="image-pane">
        <p id="info-text">
            Your Care Portal provides care recipients <br />
            with information relating to the services <br />
            they will receive from their care provider.
        </p>
    </div>

    <!-- Plain JavaScript equivalent of jQuery and Bootstrap JS -->

@*  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> *@

    <script>
        window.onload = function () {
            var currentStep = '@Model.CurrentStep';
            switch (currentStep) {
                case '1':
                    document.getElementById('inputMyEmail').focus();
                    break;
                case '2':
                    document.getElementById('inputTempCode').focus();
                    break;
                case '3':
                    document.getElementById('inputNewPassword').focus();
                    break;
                default:
                    break;
            }
        };
    </script>
</body>
</html>
